<h1>Welcome to new article</h1>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2 class="bg-danger alert alert-danger">
        <%= pluralize(@article.errors.count, "error") %>
        prohibited this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li class="bg-danger alert alert-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for :article, url:articles_path, :html => {:class => "form-horizontal"} do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.submit :class => "btn btn-default btn-primary" %>
  </p>
<% end %>

<%= link_to 'Back', articles_path, class: "btn btn-default" %>
